<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<gcServer enabled="true" />
		<GCHeapCount>0xc</GCHeapCount>
	</runtime>
	<appSettings>
		<add key="email-serivce-config"
			value="Email=no-reply@your-domain;Password=PASS;SMTP=SMTP;PORT=465" />
		<add key="ApiSecretKey"
			value="c89418ae3ee77df81e40091c4cc4e25faf59a95817a4662dce52198d24afa586" />
		<add key="JwtSecretKey"
			value="a3f7c1e9d4b6082f5c9e1a7b3d6f0284c1e7a9b5d3f8062c4e1a7b9d3f5c082" />
		<add key="JwtExpireMinutes" value="120" />
		
		<add key="CorsAllowedOrigins" value="http://localhost:3000,https://buff-gopet.vercel.app" />
	</appSettings>
	<connectionStrings>
		<add
			connectionString="SERVER=127.0.0.1;Port=3306;DATABASE=gopetta_tae2;UID=root;PASSWORD=;CharSet=utf8;Pooling=true;"
			name="GameConnectString" />
		<add
			connectionString="SERVER=127.0.0.1;Port=3306;DATABASE=gp_log;UID=root;PASSWORD=;CharSet=utf8;Pooling=true;"
			name="LogConnectString" />
		<add
			connectionString="SERVER=127.0.0.1;Port=3306;DATABASE=gopettae_gopet_web;UID=root;PASSWORD=;CharSet=utf8;Pooling=true;"
			name="WebConnectString" />
	</connectionStrings>
</configuration>