<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<gcServer enabled="true"/>
		<GCHeapCount>0xc</GCHeapCount>
	</runtime>
	<appSettings>
		<add key="email-serivce-config" value="Email=no-reply@your-domain;Password=PASS;SMTP=SMTP;PORT=465"/>
	</appSettings>
	<connectionStrings>
		<add connectionString="SERVER=127.0.0.1;Port=3306;DATABASE=gopettae_tae2;UID=root;PASSWORD=;CharSet=utf8;Pooling=true;" name="GameConnectString" />
		<add connectionString="SERVER=127.0.0.1;Port=3306;DATABASE=gp_log;UID=root;PASSWORD=;CharSet=utf8;Pooling=true;" name="LogConnectString" />
		<add connectionString="SERVER=127.0.0.1;Port=3306;DATABASE=gopettae_gopet_web;UID=root;PASSWORD=;CharSet=utf8;Pooling=true;" name="WebConnectString" />
	</connectionStrings>
</configuration>